@media screen and (max-width:840px) {
    h2 {
        font-size: 37px;
    }

    ol li {
        font-size: 22px;
        margin: 8px;
    }

    button {
        padding-bottom: 4px;
        margin-right: 3.5px;
        height: 23px;
    }

    .delete-note-button {
        padding-right: 2.5px;
    }
}

@media screen and (max-width:550px) {
    h2 {
        font-size: 30px;
    }

    ol li {
        font-size: 17px;
        margin: 6px;
    }

    button {
        padding-bottom: 3px;
        margin-right: 3px;
        height: 18px;
    }

    .delete-note-button {
        padding-right: 2px;
    }
    img{
        width:12px;
        height: auto;
    }
}
@media screen and (max-width:450px) {
    h2 {
        font-size: 25px;
    }

    ol li {
        font-size: 12px;
        margin: 4px;
    }

    button {
        padding-bottom: 0.5px;
        margin-right: 0.5px;
        height: 12px;
        font-size: 8px;
    }

    .delete-note-button {
        padding-right: 1px;
    }
    img{
        height: 10px;
        width: auto;
    }
}